body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

/* Navbar sur fond transparent */
.uk-navbar-container {
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 0 20px;
}

.uk-navbar-nav > li > a {
    color: #EEE !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.uk-navbar-nav > li > a:hover {
    color: #1e87f0 !important; /* bleu UIkit */
}
